* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

p {
  line-height: 1.5;
}

span {
  display: inline;
}

.container {
  width: 80%;
  margin: 20vw auto;
  display: flex;
  flex-direction: column;
  gap: 7.5vw;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 3vw;
}

.title {
  font-weight: bold;
  font-size: 4vw;
}

.content {
  font-size: 3vw;
}

.list {
  margin-left: 1.5vw;
  font-size: 3vw;
}
